#inputInformation {
    position: absolute;
    top: 44px;
    transition: 0.3s;
    background-color: #FFFFFF;
}
#btnProject {
    position: absolute;
    padding-top: 5px;
    left: 0px;
    color: #1588C7;
    background-color: white;
    font-size: 22px;
    font-family: Helvetica;
}
#btnTask {
    position: absolute;
    padding-top: 5px;
    left: 0px;
    color: #1588C7;
    background-color: white;
    font-size: 22px;
    font-family: Helvetica;
}
#btnActivity {
    position: absolute;
    padding-top: 5px;
    left: 0px;
    color: #1588C7;
    background-color: white;
    font-size: 22px;
    font-family: Helvetica;
}
#btnDateWorked {
    position: absolute;
    padding-top: 5px;
    left: 0px;
    color: #1588C7;
    background-color: white;
    font-size: 22px;
    font-family: Helvetica;
}
#btnHoursWorked {
    position: absolute;
    padding-top: 5px;
    left: 0px;
    color: #1588C7;
    background-color: white;
    font-size: 22px;
    font-family: Helvetica;
}
#addEntryButtonText {
    position: absolute;
    left: 0px;
    padding-left:20px;
    color: #1588C7;
    font-size: 22px;
    font-family: Helvetica;
}
#selectedDateWorked {
    position: absolute;
    right: 0px;
    right: 50px;
    padding-top: 5px;
    color: #808080;
    font-size: 15px;
    font-family: Helvetica;
}
#selectedHoursWorked {
    position: absolute;
    right: 0px;
    right: 50px;
    padding-top: 5px;
    color: #808080;
    font-size: 15px;
    font-family: Helvetica;
}
#menuSelectItem {
    position: absolute;
    right: 0px;
    padding-right: 20px;
    color: #808080;
    font-size: 18px;
    font-family: Helvetica;
}
#rightArroqButton {
    position: absolute;
    right: 0px;
    font-size: 18px;
    color:#808080;
    font-family: Helvetica;
}
#cbxPayable {
    position: absolute;
    left: 40px;
}
#lblPayable {
    position: absolute;
    left: 60px;
    color: #1588C7;
    font-size: 18px;
    font-family: Helvetica;
}
#cbxBillable {
    position: absolute;
    right: 100px;
}
#lblBillable {
    position: absolute;
    right: 40px;
    color: #1588C7;
    font-size: 18px;
    font-family: Helvetica;
}
#txtDescription {
    position: absolute;
    left: 20px;
    font-family: Helvetica;
    font-size: 15px;
}

#btnSave {
    position: absolute;
    color: white;
    background-color: #1588C7;
    font-size: 22px;
    font-family: Helvetica;
    border-radius:2px;
    left: 20px;
    top: 150px;
    padding-top: 4px;
    height: 28px;
    text-align: center;
}