#inputInformation {
    position: absolute;
    top: 44px;
    transition: 0.3s;
    background-color: #FFFFFF;
}
#txtProject {
    position: absolute;
    left: 40px;
}
#btnChooseProject {
    position: absolute;
    right: 40px;
}
#txtTask {
    position: absolute;
    left: 40px;
}
#btnChooseTask {
    position: absolute;
    right: 40px;
}
#txtActivity {
    position: absolute;
    left: 40px;
}
#txtDateWorked {
    position: absolute;
    left: 40px;
}
#txtHoursWorked {
    position: absolute;
    right: 40px;
}
#cbxPayable {
    position: absolute;
    left: 40px;
}
#lblPayable {
    position: absolute;
    left: 60px;
}
#cbxBillable {
    position: absolute;
    right: 40px;
}
#lblBillable {
    position: absolute;
    right: 60px;
}
#txtDescription {
    position: absolute;
    left: 40px;
}