#navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 36px;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    color: #1588C7;
    padding-top: 5px;
    border-bottom: solid;
    border-color: #808080;
    border-width: 3px;
    background-color: #FFFFFF;
}
#btnAddNewEntry {
    position: absolute;
    color: #1588C7;
    font-size: 40px;
    top: 0px;
    padding-bottom: 30px;
    right: 0px;
}
#btnBack {
    position: absolute;
    color: #1588C7;
    font-size: 40px;
    top: 0px;
    left: 7px;
}