#showEntries {
    position: absolute;
    background-color: #FFFFFF;
    transition: 0.3s;
    top: 44px;
    left: 0px;
}
#lblBeginDate {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    color: #1588C7;
    left: 40px;
    top: 37px;
    height: 35px;
    width: 110px;
}
#txtBeginDate {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    color: #000000;
    top: 30px;
    left: 170px;
    height: 35px;
}
#lblEndDate {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    color: #1588C7;
    left: 40px;
    height: 35px;
    top: 87px;
    width: 110px;
}
#txtEndDate {
    font-family: Helvetica;
    font-size: 20px;
    position: absolute;
    top: 80px;
    left: 170px;
    height: 35px;
    color: #000000;
}
#btnRefresh {
    position: absolute;
    color: white;
    background-color: #1588C7;
    font-size: 22px;
    font-family: Helvetica;
    border-radius:2px;
    left: 40px;
    top: 150px;
    padding-top: 4px;
    height: 28px;
    text-align: center;
}
#entriesList {
    position: absolute;
    top: 202px;
    left: 0px;
    background-color: #BADCEF;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#entriesListElement {
    background-color: #FFFFFF;
    height: 80px;
    border-top: solid;
    border-width: 1px;
    border-color: #808080;
}
#entryName {
    position: absolute;
    color: #1588C7;
    left: 4px;
    font-size: 23px;
    font-family: Helvetica;
}
#entryDateWorked {
    position: absolute;
    right: 4px;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    font-family: Helvetica;
}
#entryHoursWorked {
    position: absolute;
    top: 50px;
    right: 4px;
    color: #1588C7;
    font-size: 17px;
    font-weight: bold;
    font-family: Helvetica;
}
#entryDescription {
    position: absolute;
    top: 45px;
    left: 4px;
    color: #000000;
    font-size: 13px;
    font-family: Helvetica;
}